<div class="row col-md-12">
    <h1 class="col-md-4">Grave sua pergunta: </h1>
   
    <div class="form-container" >
       
        <form method="post" style="padding-top: 2%" class="col-md-8">
               
                <input  id="pergunta" ng-model="vm.question" type="text" class="form-control col-md-8" />
               
                <div class="form-group">
                </div>
                <div style="margin-top:2%" class="row col-md-12">
                    <div class="col-md-4"></div>
                <button style="background-color: green" class="btn btn-primary col-md-4" ng-click="vm.GravaPergunta()">Save</button>
           
                <div class="col-md-4"></div>
                </div>
             
           
    
                <div class="row col-md-6">
                <ul class="list-group " id="lista">
                       
                        
                    </ul>
                </div>
             
    
           
        </form>
        <!-- <script src="app-services/perguntas.service.js"></script> -->
    </div>
    </div>
    
        
    
    